<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- LOGO -->
    <a class="navbar-brand d-flex align-items-center logo" href="#">
      <i class="fa-solid fa-cloud-sun me-2"></i>
      <span class="d-none d-sm-inline">Clima Cidade</span>
    </a>

    <!-- CONTEÚDO -->
    <div class="navbar navbar-expand w-100" id="navbarContent">
      <div class="navbar-nav w-100 justify-content-end">
        <form class="d-flex align-items-center" role="search"
              (submit)="$event.preventDefault(); buscarCidade()">
          <div class="input-group">
            <input
              class="form-control"
              type="search"
              placeholder="Buscar Cidade"
              aria-label="Buscar cidade"
              [(ngModel)]="cidade"
              name="cidade"
              style="min-width: 120px;"
            />
            <button class="btn btn-outline-light" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
