/*sm	Pequeno (Small)	576px
  md	Médio (Medium)	768px
  lg	Grande (Large)	992px
  xl	Extra Grande (X-Large)	1200px
*/

@media (max-width: 1000px)  {
  form{
    width:100%;
  }
  .logo{
    display: none !important;
  }

}

@media (min-width: 1001px){
  form{
    width: 50%;
  }

}
