  <!-- Footer com padding vertical -->
  <footer class="py-5">

    <!-- Linha principal do footer -->
    <div class="row">

        <h5>Sobre</h5>

        <p class ="text-body-secondary">
              Este site oferece <strong>previsão do tempo dos próximos 14 dias</strong> atualizada,
            permitindo que você acompanhe as condições climáticas forma simples e rápida. Aqui você encontra
            informações como <strong>temperatura</strong>, <strong>umidade</strong>,
            <strong>vento</strong> e <strong>condição do clima</strong> para planejar
            melhor sua rotina.
        </p>

        <p class ="text-body-secondary">
              Essa site foi desenvolvido com foco em <strong>usabilidade</strong>,
            <strong>responsividade</strong> e <strong>dados meteorológicos confiáveis</strong>,
            funcionando perfeitamente em dispositivos móveis e desktop. Ideal para
            quem precisa consultar a previsão do tempo antes de viagens, eventos ou
            atividades ao ar livre.
        </p>

      <!-- Coluna de créditos / links -->
      <!-- col-6: ocupa metade no mobile | col-md-6: ocupa 6 colunas em telas médias | col-lg-6: ocupa 6 colunas em telas grandes -->
      <div class="col-6 col-md-6 col-lg-6 mb-0 mt-0">
        <h5>Créditos</h5>

        <!-- Lista de navegação vertical -->
        <!-- Lista de navegação em duas colunas -->
        <ul class="nav row pb-4">
          <!-- Coluna 1 -->
          <li class="col-12 col-md-6 nav-item mb-2">
            <a class="nav-link p-0 text-body-secondary"
              href="https://www.flaticon.com/br/icones-gratis/nuvens-e-sol">
              Nuvens e sol – Freepik
            </a>
          </li>
          <li class="col-12 col-md-6 nav-item mb-2">
            <a class="nav-link p-0 text-body-secondary"
              href="https://www.flaticon.com/br/icones-gratis/temporada">
              Temporada – Good Ware
            </a>
          </li>
          <li class="col-12 col-md-6 nav-item mb-2">
            <a class="nav-link p-0 text-body-secondary"
              href="https://www.flaticon.com/br/icones-gratis/nevado">
              Nevado – Good Ware
            </a>
          </li>
          <!-- Coluna 2 -->
          <li class="col-12 col-md-6 nav-item mb-2">
            <a class="nav-link p-0 text-body-secondary"
              href="https://www.flaticon.com/br/icones-gratis/nevoa">
              Névoa – Pixel perfect
            </a>
          </li>
          <li class="col-12 col-md-6 nav-item mb-2">
            <a class="nav-link p-0 text-body-secondary"
              href="https://www.flaticon.com/br/icones-gratis/chuva">
              Chuva – Freepik
            </a>
          </li>
          <li class="col-12 col-md-6 nav-item mb-2">
            <a class="nav-link p-0 text-body-secondary"
              href="https://www.flaticon.com/br/icones-gratis/brilho-do-sol">
              Brilho do sol – Judanna
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Área inferior do footer (copyright + redes sociais) -->
    <!-- flex-column no mobile | flex-sm-row em telas maiores -->
    <div
      class="d-flex flex-column flex-sm-row justify-content-between align-items-center border-top"
    >

      <!-- Texto de copyright -->
      <p class="mb-0 pb-0 pt-5">
        &copy; 2026 Giovani Trierweiler. Todos os direitos reservados.
      </p>

      <!-- Lista de ícones sociais -->
      <ul class="list-unstyled d-flex mb-0 pb-0 pt-5">
        <li class="ms-3">
            <a class="link-body-emphasis" href="#" aria-label="Linkedin">
              <i class="bi bi-linkedin fs-4"></i>
            </a>
          </li>
      </ul>
    </div>
  </footer>
